
<script>
    $(function () {
        $("#query").autocomplete({
            source: "/search_auto/",
            select: function (event, ui) {//item selected
                AutoCompleteSelectHandler(event, ui)
            },
            minLenght: 2,
        });
    });

    function AutoCompleteSelectHandler(event, ui) {
        var selectObj = ui.item;
    }
</script>
{% load static %}
<div id="book-a-car">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="booka-car-content">
                    <form class="example1" action="/search/" method="post">
                        <div class="pick-date bookinput-itemm">
                            {% csrf_token %}
                            <input class="search-car-inputt" type="text" id="query" name="query" placeholder="Ara..">
                            {% load mptt_tags %}
                        </div>
                        <div class="pick-location bookinput-item">
                            <select name="catid" class="custom-selectt">
                                <option value="0">Tüm Kategoriler</option>
                                {% recursetree category %}
                                    {% if node.is_leaf_node %}
                                        <option value="{{ node.id }}">{{ node.title }}</option>{% endif %}
                                    {% if not node.is_leaf_node %}
                                        <optgroup label="{{ node.title }}">
                                            {{ children }}
                                        </optgroup>
                                    {% endif %}
                                {% endrecursetree %}
                            </select>
                        </div>
                        <div style="margin-left: 24%; width: 150px;height: 40px">
                            <button class="kirala" type="submit">Ara</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>