{% extends "homebase.html" %}
{% block title %} {{ setting.title }} {% endblock %}
{% block keywords %} {{ setting.key }} {% endblock %}
{% block description %} {{ setting.description }}{% endblock %}
{% block icon %}{{ setting.icon }}{% endblock %}

{% block slider %}
    {% include 'slider.html' %}
{% endblock %}

{% block cararea %}
    {% include 'cararea.html' %}
{% endblock %}

{% block choosecar %}
    {% include 'choosecar.html' %}
{% endblock %}

{% block body %}
    {% include 'content.html' %}
{% endblock %}
