    <section id="home-slider-area">
         {% load static %}
             <div style="background-image: url('../static/img/slider-img/slider-img-1.jpg');">
        <div class="home-slider-item slider-bg-1 overlay">

            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="slideshowcontent">
                            <h1>BOOK A CAR TODAY!</h1>
                            <p>FOR AS LOW AS $10 A DAY PLUS 15% DISCOUNT <br> FOR OUR RETURNING CUSTOMERS</p>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
     <div style="background-image: url('../static/img/slider-img/slider-img-2.jpg');">
        <div class="home-slider-item slider-bg-2 overlay">

            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="slideshowcontent">
                            <h1>SAVE YOUR MONEY</h1>
                            <p>FOR AS LOW AS $10 A DAY PLUS 15% DISCOUNT <br> FOR OUR RETURNING CUSTOMERS</p>
                        </div>
                    </div>
                </div>
            </div>
     </div>
     </div>

    <div style="background-image: url('../static/img/slider-img/slider-img-3.jpg');">
        <div class="home-slider-item slider-bg-3 overlay">
       <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="slideshowcontent">
                            <h1>ENJOY YOUR JOURNEY</h1>
                            <p>FOR AS LOW AS $10 A DAY PLUS 15% DISCOUNT <br> FOR OUR RETURNING CUSTOMERS</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     </div>
     </div>
    </section>