    <section id="home-slider-area">
         {% load static %}
         {% for rs in sliderdata %}
        <div class="home-slider-item slider-bg-1 overlay" style="background-image: url('{{ rs.image.url }}')">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="slideshowcontent">
                            <h1>{{rs.title}}</h1>
                            <p style="color:white">{{ rs.description }}</p>
                            <p>
                            <a href="/product/{{ rs.id }}/{{ rs.slug }}" style="color:white;">SATIN AL</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {%  endfor %}
    </section>